<!DOCTYPE html>
<html>
<body>
<!-- <button><a routerLink="/order" routerLinkActive="active" ariaCurrentWhenActive="page">Order</a></button>
<input type="text" (keyup)="ViewProductList()" placeholder="Search Product" [(ngModel)]="input">

<div>
    @for(category of categories;track $index;){
        <div>
            <p>
                <button (click)="showProductsByCategory(category.id)">{{category.name}}</button>
            </p>
        </div>
    }
</div> -->
<!-- <img src="../../images/asus_tuf.jpg" alt="asus"> -->

    
    @for (product of products; track $index;){ 
        <div class="product-card">         
            <img src={{product.imageLink}} alt="N/A">
            <button (click)="addProductToCart(product.id)">Add to Cart</button>
            <h4>{{product.name}}</h4>
            <div>
                <span>{{product.price}}</span>
                <button>+</button>
            </div>
            <br>
        </div>    
    }
    
</body>
</html>

<!-- </div> -->
