<!-- <div class="product-page">
    <img src="{{product.imageLink}}" alt="Product Image">
    <div class="product-details">
      <h2>{{product.name}}</h2>
      <p class="price">${{product.price}}</p>
      <p class="category">Category: {{category.name}}</p>
      <p class="type">Type: {{product.type}}</p>
      <p class="info">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="product-actions">
      <button [ngClass]="upvoteClass" (click)="upvoteProduct()">{{upvote}}</button>
      <button [ngClass]="downvoteClass" (click)="downvoteProduct()">{{downVote}}</button>
    
      <input type="number" class="quantity-selector" [(ngModel)]="product.quantity" min="1">
      <button class="add-to-cart-btn" (click)="addProductToCart(product.quantity)">Add to Cart</button>
    </div>
  </div> -->

  <div class="container">
    <div class="left-div">
      <h3>Top Categories</h3>
      <p>Some information here.</p>
    </div>
  
    <div class="product-page">
      <img src="{{product.imageLink}}" alt="Product Image">
      <div class="product-details">
        <h2>{{product.name}}</h2>
        <p class="price">${{product.price}}</p>
        <p class="category">Category: {{category.name}}</p>
        <p class="type">Type: {{product.type}}</p>
        <p class="info">Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="product-actions">
        <button [ngClass]="upvoteClass" (click)="upvoteProduct()">{{upvote}}</button>
        <button [ngClass]="downvoteClass" (click)="downvoteProduct()">{{downVote}}</button>
        <input type="number" class="quantity-selector" [(ngModel)]="product.quantity" min="1">
        <button class="add-to-cart-btn" (click)="addProductToCart(product.quantity)">Add to Cart</button>
      </div>
    </div>
  
    
    <div class="right-div">
      <h3>Top Products</h3>
      <p>Suggestions or advertisements here.</p>
    </div>
  </div>
  